@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.CreateBook {
  color: black;
}

.ShowBookDetails {
  color: black;
}

.UpdateBookInfo {
  color: black;
}

.ShowBookList {
  height: 100%;
  width: 100%;
  color: black;
  font-size: small;
  font-family:Arial, Helvetica, sans-serif;
}

/* BookList Styles */
.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.card-container {
  width: 250px;
  border: 1px solid rgba(0, 0, .125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3, p {
  font-weight: 300;
}

.desc h3 {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
}



:root {
  font-size: 15px;
  font-family: "Roboto", serif;
}

.layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 200px 1fr;
}



.pro-sidebar {
  grid-row: 1/3;
}

.pfp {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
}

.header-upper-part {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.header-upper-part * {
  text-align: center;
  margin: 0;
}

.search {
  height: 3em;
  text-align: left;
  font-size: 15px;
  background-color: #e1e8f0;
  border: none;
  border-radius: 1.5em;
  padding-right: 10px;
  padding-left: 10px;
}

.header-upper-part>.search-container {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
}

.search-profile-container {
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 200px;
  align-items: center;
}


.pfp-big {
  height: 100px;
  border-radius: 50%;
}

.bottom-header-container {
  display: grid;
  grid-template-columns: 100px 1fr 500px;
  align-items: center;
}

.texts-header * {
  margin: 0;
}

.button-header * {
  background-color: #1892d3;
  color: white;
  width: 100px;
  border: none;
  border-radius: 30px;
  height: 3em;
  margin: 10px;
  padding: 10px 30px;
}

.pro-sidebar {
  min-height: 100vh;
}

body {
  margin: 0;
}

.top-header {
  background-color: white;
}

.content {
  background-color: #e1e8f0;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
}

@media (max-width: 1137px) {
  .bottom-header-container {
    grid-template-columns: 100px 1fr;
    grid-row: 1fr 1fr;
  }

  .button-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 850px) {
  .header-upper-part {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-right: 30px;
  }

  .layout {
    grid-template-rows: 275px 1fr;
  }
}

@media (max-width: 810px) {
  .texts-header>h1 {
    width: 300px;
    max-width: 100%;
  }

  .layout {
    grid-template-rows: 320px 1fr;
  }
}
